* {
  background-color: var(--background-color);
  font-family: var(--primary-font);
  color: var(--foreground-color);
}

img {
  width: 50px;
  background-color: var(--background-color);
}

h1 {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 5px;
}

label {
  font-size: 1.5rem;
  margin-left: 7%;
}

input {
  height: 62px;
  border: 2px solid var(--foreground-color);
  width: 80%;
}

button {
  background-color: var(--background-color);
  border: 2px solid var(--foreground-color);
  padding-top: 4px;
}

div {
  position: absolute;
  font-size: 2rem;
  animation: void-text 5s linear;
  color: transparent;
  text-shadow: 0 0 0 rgba(255, 255, 255, 1);
  max-width: 1000px;
}

form {
  display: block;
  margin: 0 auto 0 auto;
}

.form-group {
  display: flex;
  margin: 10px auto 0 auto;
  justify-content: center;
}

#connection {
  text-align: center;
  margin-top: 0;
}

.main {
  position: relative;
  min-height: 70vh;
}

@media (max-width: 600px) {
  h1 {
    font-size: 400px;
  }
}

@keyframes void-text {
  0% {
    transform: scale(1, 1) translateY(0px);
    opacity: 1;
    text-shadow: 0 0 0 rgba(255, 255, 255, 1);
  }
  100% {
    transform: scale(0.01, 0.01) translateY(-200px);
    opacity: 0;
    text-shadow: 0 0 20px rgba(255, 255, 255, 1);
  }
}
